<script src="{{{uiRootPath}}}/js/site.js"></script>
{{#with page.attributes.content-scripts}}
{{{this}}}
{{/with}}
<script async src="{{{uiRootPath}}}/js/vendor/highlight.js"></script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script>window.glossyDict = JSON.parse(atob('{{{page.attributes.glossy-dict}}}'))</script>
<script src="{{{uiRootPath}}}/js/vendor/glossy.js"></script>
{{#if env.ALGOLIA_API_KEY}}
<script async id="search-script" src="{{{uiRootPath}}}/js/vendor/docsearch.js"
  {{~#if env.ALGOLIA_APP_ID}} data-app-id="{{env.ALGOLIA_APP_ID}}" {{/if~}}
  data-api-key="{{env.ALGOLIA_API_KEY}}" data-index-name="{{env.ALGOLIA_INDEX_NAME}}" data-stylesheet="{{{uiRootPath}}}/css/vendor/docsearch.css"></script>
{{/if}}
{{#if (eq page.layout 'tutorials')}}
<script async src="{{{uiRootPath}}}/js/vendor/mark.js"></script>
{{/if}}
{{#if (eq env.SHOW_FEEDBACK_BUTTON 'true')}}
<script async id="feedback-script" src="{{{uiRootPath}}}/js/vendor/feedback.js?v=1" data-collector-id="de2e9313"></script>
{{/if}}
