<footer class="footer">
  <div class="container">
    <div class="footer-links">
      <div class="col">
        <div class="footer-logo">
          <a href="https://walkable.gitlab.io" class="icon">
            <img src="{{{uiRootPath}}}/img/walkable.svg" alt="Walkable">
          </a>
        </div>
      </div>
      <div class="col">
        <ul>
          <li><a href="" target="_blank" rel="noopener">Documentation</a></li>
          <li><a href="" target="_blank" rel="noopener">Support</a></li>
	</ul>
      </div>
      <div class="col">
          <ul>
              <li><a href="">Get Started</a></li>
              <li><a href="">Cookbook</a></li>
          </ul>
      </div>
      <div class="col">
          <ul>
              <li><a href="">Resources</a></li>
          </ul>
      </div>
      <div class="col">
        <ul class="social-icons">
          <li>
            <a href="https://twitter.com/walkable" class="icon">
              <svg width="50px" height="50px" viewBox="32.012 176.622 542.326 437.815"><path d="m574.34 227.46c-19.772 8.474-41.428 15.065-64.025 17.889 22.597-14.123 40.486-35.778 48.96-61.2-21.655 13.182-45.194 21.655-70.615 27.305-20.714-21.655-48.96-34.837-80.972-34.837-61.2 0-111.1 49.902-111.1 111.1 0 8.474 0.942 16.948 2.825 25.422-92.271-5.649-174.18-49.902-229.74-117.69-9.415 16.006-15.065 35.778-15.065 55.551 0 38.603 19.772 72.498 49.902 92.271-17.889-0.942-35.778-5.649-50.843-14.123v0.942c0 53.668 38.603 98.862 89.446 109.22-9.415 2.825-18.831 3.766-29.188 3.766-7.532 0-14.123-0.942-20.714-1.883 14.123 44.252 55.551 76.265 103.57 77.206-37.662 30.129-85.68 48.018-138.41 48.018-9.415 0-17.889-0.941-26.363-1.883 48.96 32.012 107.34 49.902 170.42 49.902 204.31 0 316.36-169.48 316.36-316.36v-14.123c21.656-14.125 40.487-33.897 55.551-56.494z"/></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-terms">
        <span>© 2018 - {{{year}}} WALKABLE CONTRIBUTORS.</span>
    </div>
  </div>
</footer>
