<header class="header">
  <nav class="navbar" id="topbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href=""><img src="{{{uiRootPath}}}/img/walkable.svg" alt="Walkable"></a>
        <button class="navbar-burger" data-target="topbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div id="topbar-menu" class="navbar-menu">
        <div class="navbar-start">
          {{#if page.component}}
          {{#if (or (eq page.component.name 'tutorials') (eq page.component.name 'userprofile-couchbase-mobile'))}}
          <a class="navbar-item component" href="{{relativize site.components.tutorials.url}}"><span class="title">{{{site.components.tutorials.title}}}</span></a>
          {{else if (or page.versions (ends-with page.component.name '-sdk'))}}
          <div class="navbar-item has-dropdown-click">
            <label for="menu-versions" class="component navbar-dropper"><span class="title">{{{page.component.title}}}</span> <span class="version">{{page.componentVersion.displayVersion}}</span></label>
            <input id="menu-versions" class="navbar-dropper" type="checkbox">
            <div class="navbar-dropdown versions">
              <div class="cols">
                <ul>
                  {{#each page.versions}}
                  <li{{#if (eq ./version @root.page.version)}} class="current"{{/if}}><a class="navbar-item" href="{{relativize ./url}}">{{{@root.page.component.title}}} {{./displayVersion}}</a></li>
                  {{else}}
                  <li class="current"><a class="navbar-item" href="{{relativize page.url}}">{{{page.component.title}}} {{page.displayVersion}}</a></li>
                  {{/each}}
                </ul>
                {{#if (ends-with page.component.name '-sdk')}}
                <ul class="related">
                  {{#each (related-sdk-pages 'c,dotnet,go,java,nodejs,php,python,scala')}}
                  <li><a class="navbar-item" href="{{relativize ./url}}">{{{./title}}}</a></li>
                  {{/each}}
                </ul>
                {{/if}}
              </div>
            </div>
          </div>
          {{else if (ne page.component.name 'home')}}
          <a class="navbar-item component" href="{{relativize page.componentVersion.url}}"><span class="title">{{{page.component.title}}}</span>{{#unless (eq page.componentVersion.displayVersion 'master')}} <span class="version">{{page.componentVersion.displayVersion}}</span>{{/unless}}</a>
          {{/if}}
          {{/if}}
          {{#if env.ALGOLIA_API_KEY}}
            <form class="navbar-item search">
              <input type="text" placeholder="Search Walkable Docs" class="query" id="search-query">
              <button type="button" class="search"><span>Search</span></button>
            </form>
          {{/if}}
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
