.quoteblock blockquote::before {
  content: "\201c";
  float: left;
  font-size: 2.75em;
  font-weight: bold;
  line-height: 0.6em;
  margin-left: -0.6em;
  color: var(--color-brand-blue);
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quoteblock .attribution {
  text-align: right;
}
